.header-contenido{
    margin-top: 5%;
}

.contenedor-tabla{
    margin-top: 5% !important;
}

.m-icon i{
    color: white;
}

.m-icon span{
    color: white;
}

.tabla-botones{
    margin-bottom: 1%;
}